html,
body {
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.inner {
  flex: 1;
}
.wrap {
  width: 1000px;
  margin: 0 auto;
}
header {
  font-family: "GyeonggiBatang";
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.header .current_page {
  color: #777;
}
.header p {
  padding: 8px;
  font-size: 1.375em;
}

.header a::after {
  display: block;
  content: "";
  border-bottom: solid 2px #222;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  /* menu밑에 밑줄 생기는 css */
}

.header a:hover::after {
  transform: scaleX(1);
  transform-origin: 50% 100%;
  /* 가운데부터 밑줄 생기는 css */
}

/* header end */

.logo {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  background-image: url(../img/logo.png);
  background-size: 437px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 437px;
  height: 101px;
  margin: 100px auto 80px;
  transition: all 0.5s linear 0.1s;
}

.logo:hover {
  background-image: url(../img/logo_hover.png);
}

h1.index_intro {
  margin-top: 80px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
  color: #777;
  line-height: 30px;
}
h2.index_eng {
  width: 440px;
  margin: 26px auto 0;
  text-align: center;
  font-weight: 300;
  font-size: 1.125em;
  color: #999;
  line-height: 22px;
}

b {
  font-weight: 500 !important;
  color: #222;
}

/* intro_text end */
#portfolio {
  margin-top: 80px;
}
.portfolio {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 12px;
}
.portfolio_content {
  position: relative;
  margin-right: 12px;
  overflow: hidden;
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-direction: alternate;
  transition: all 0.5s;
}
.portfolio_content:last-of-type {
  margin-right: 0;
}
.portfolio_content img {
  width: 100%;
}
.port_inner {
  position: absolute;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.6s;
}

.port_inner p {
  color: #fff;
}
.portfolio_content:hover .port_inner {
  top: 0px;
}

footer {
  width: 100%;
  margin-top: 80px;
  padding: 24px 0;
  border-top: 1px solid #222;
  text-align: center;
}

/* ********** about *********** */

.about {
  width: 800px;
  margin: 160px auto 62px;
}

.about .about_logo {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  width: 284px;
  margin-bottom: 40px;
}

.about p {
  line-height: 20px;
  color: #333;
}

/* about intro end */

.about_tech {
  padding-top: 80px;
  border-top: 1px solid #222;
}

.about_tech .wrap {
  display: flex;
}
.tech {
  width: 25%;
  margin-right: 24px;
  font-size: 0.875em;
}

.tech:last-of-type {
  margin-right: 0;
}

.tech_subtitle {
  font-family: "GyeonggiBatang";
  margin-bottom: 16px;
}

.tech_title {
  font-size: 1.375em;
  margin-bottom: 4px;
}

.tech .script_kr {
  margin-bottom: 12px;
  line-height: 21px;
}

.tech .script_en {
  font-family: "GyeonggiBatang";
  color: #777;
}

/* ***********contact us*************** */

.contact {
  margin-top: 160px;
}

.contact h1 {
  font-size: 3.25em;
  font-weight: bolder;
  margin-bottom: 40px;
}

.kakao_chat {
  width: fit-content;
  padding: 8px 16px;
  background-color: #333;
  color: #ffe500;
  margin-bottom: 24px;
}

.contact p {
  line-height: 22px;
}

.contact p:first-of-type {
  margin-bottom: 24px;
}

.email,
.tel {
  font-family: "GyeonggiBatang";
}
