@font-face {
  font-family: "GyeonggiBatang";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  cursor: url("../img/cursor.png"), auto;
  font-family: "Noto Sans KR", sans-serif;
}

:root {
  --serif-font: "GyeonggiBatang";
  --default-font: "Noto Sans KR", sans-serif;
}

/* margin-bottom */
.ml8 {
  margin-left: 8px;
}
.mb8 {
  margin-bottom: 8px;
}
.mb12 {
  margin-bottom: 12px;
}
.mb24 {
  margin-bottom: 24px;
}
